<header>
    <mat-toolbar class="header">

        <!-- Logo / Nome -->
        <span class="logo">Agendly</span>

        <!-- Espaço -->
        <span class="spacer"></span>

        <!-- Ações -->
        <div class="actions">
            <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>share</mat-icon>
            </button>
            <button mat-raised-button (click)="irParaAgendamentos()" class="botao-agendamentos">
                Meus Agendamentos
            </button>
        </div>

    </mat-toolbar>
</header>

<main>
    <div class="banner-container">
        <img src="../../../assets/banner/banner-cabeleleila.png" alt="banner">

        <button mat-raised-button class="agendamento-btn"
            class="agendamento-btn" (click)="abrirAgendamento()">
            Marcar Agendamento
        </button>
    </div>
</main>
<footer class="footer">

    <div class="footer-content">

        <!-- Logo / Nome -->
        <span class="footer-logo">Agendly</span>

        <!-- Links -->
        <div class="footer-links">
            <a href="#">Sobre</a>
            <a href="#">Serviços</a>
            <a href="#">Contato</a>
        </div>

        <!-- Direitos -->
        <span class="footer-copy">
            © 2026 Agendly - Todos os direitos reservados
        </span>

    </div>

</footer>